%div(class="modal fade-scale sign-in-modal" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalTitle" aria-hidden="true")
  %div(class="modal-dialog modal-dialog-centered" role="document")
    .modal-content
      %div(class="sign-in-modal__layer")
      .modal-body
        %button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;

        = sign_in_form_tabs(order: %i[sign_up sign_in], wrapper_class: 'mb-5')

        .tab-content
          = sign_in_form_tab_pane(tab_name: :sign_up, active: true) do
            %div(class="sign-in-modal__heading mb-4")
              %h5(class="sign-in-modal__heading__title") Sign up now
              %span(class="sign-in-modal__heading__help-text")
                Already have an account?
                %a(href="#" data-controller="sign-in-modal-opener" data-sign-in-modal-opener-tab-name="sign_in_tab")
                  Sign In

            = sign_in_modal_form_social_links(wrapper_class: 'sign-in-modal__social-buttons mb-4')

            %div(class="sign-in-modal__divider mb-4")
              %span(class="sign-in-modal__divider-text") OR
              %span(class="sign-in-modal__divider-text-space")

            %div(class="sign-in-modal__registrations-form mb-4")
              = render 'people/shared/sign_up_modal_form'

          = sign_in_form_tab_pane(tab_name: :sign_in) do
            %div(class="sign-in-modal__heading mb-4")
              %h5(class="sign-in-modal__heading__title") Login to your account
              %span(class="sign-in-modal__heading__help-text")
                Do not have an account?
                %a(href="#" data-controller="sign-in-modal-opener" data-sign-in-modal-opener-tab-name="sign_up_tab")
                  Sign Up

            = sign_in_modal_form_social_links(wrapper_class: 'sign-in-modal__social-buttons mb-4')

            %div(class="sign-in-modal__divider mb-4")
              %span(class="sign-in-modal__divider-text") OR
              %span(class="sign-in-modal__divider-text-space")

            %div(class="sign-in-modal__login-form mb-4")
              = render 'people/shared/sign_in_modal_form'

            %a(href="#" class="text-white font-size-1") FORGOT YOUR PASSWORD?