= content_for(:title, title)
%div(class="onboarding position-absolute w-100")
  .d-flex.h-100
    %div(class="w-xl-65 w-md-50 d-md-block d-none onboarding__cover")
    %div(class="onboarding__form onboarding__form--#{title.parameterize} w-xl-35 w-md-50")
      = yield
      %div(class="onboarding__footer mt-5 pt-5")
        .text-center
          = link_to 'Mr.Draper', root_path, class: 'glow text-secondary font-size-5 text-decoration-none'
        %div(class="mt-3 pt-3 text-center")
          = link_to 'Terms of Use', 'javascript:void(0);', class: 'text-info text-decoration-none'
          |
          = link_to 'Privacy Policy', 'javascript:void(0);', class: 'text-info text-decoration-none'
