%li.list-group-item
  %h4
    = blog.title.presence || '---'

  .font-size-1
    %span(class="text-muted")
      Last Edited
      = time_ago_in_words(blog.updated_at, include_seconds: true)
    %span(class="text-muted") .
    %span(class="text-muted font-size-2 align-middle")
      = link_to '#', class: 'text-decoration-none', data: { toggle: 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' } do
        %i(class="fas fa-angle-down")
      %div(class="dropdown-menu font-size-1")
        = link_to "Edit #{scope.titleize}", edit_people_blog_path(blog), class: 'dropdown-item'
        = link_to "Delete #{scope.titleize}", people_blog_path(blog), method: :delete, class: 'dropdown-item', data: { confirm: "Are you certain you want to Delete this #{scope.titleize} Blog?", commit: 'Yes!' }
