= content_for(:left_navigation_list) do
  %li.nav-item
    .blog-editable-status.d-flex
      = @blog.blog_editable_statuses

= content_for(:right_navigation_list) do
  %li.nav-item.blog-ready-button.mb-xl-0.mb-2
    = @blog.ready_to_publish_button

.container
  .blog.blog--new.mt-md-0.mt-4
    .row
      .offset-md-2.col-md-8.offset-0.col-12
        = form_with(model: @blog, url: url, data: { controller: 'blogs-editable', method: form_method }) do |f|
          = link_to '#', class: 'blog__preview-img-upload-icon text-decoration-none', data: { action: 'blogs-editable#browseFileForPreview', toggle: 'tooltip', placement: 'right', title: 'Upload Preview Image' } do
            %i(class='fas fa-plus')
          = f.file_field :preview_image, accept: 'image/png,image/gif,image/jpeg', class: 'd-none blog__preview-img-file-input', data: { action: 'change->blogs-editable#displayPreviewImage' }

          = @blog.display_form_preview_image

          .form-group
            = f.text_field :title, class: 'form-control form-control-lg font-size-5 px-2', placeholder: 'Title', data: { target: 'blogs-editable.titleInput' }
          .form-group.mb-5
            = f.text_field :short_description, class: 'form-control', placeholder: 'Write a Short Description', data: { target: 'blogs-editable.shortDescriptionInput' }
          .form-group
            = f.text_area :main_content, class: 'form-control', placeholder: 'Main Content', data: { target: 'blogs-editable.mainContentInput' }
          = f.submit :submit, class: 'd-none'