= content_for(:title, 'My Blog')

.container
  .d-flex.mb-4
    %div.w-80
      %h2.mb-0 My Blog Posts
    %div.text-right.w-20
      = link_to 'Write a New Blog', new_people_blog_path, class: 'btn btn-outline-success'

  %ul(class="nav nav-tabs custom-tabs mb-4" role="tablist")
    %li.nav-item
      = link_to "Drafts (#{@drafts.length})", '#drafts', class: 'nav-link active', role: 'tab', 'aria-controls': 'drafts', 'aria-selected': 'drafts', data: { toggle: 'tab' }
    %li.nav-item
      = link_to "Scheduled (#{@scheduled.length})", '#scheduled', class: 'nav-link', role: 'tab', 'aria-controls': 'scheduled', 'aria-selected': 'scheduled', data: { toggle: 'tab' }
    %li.nav-item
      = link_to "Published (#{@published.length})", '#published', class: 'nav-link', role: 'tab', 'aria-controls': 'published', 'aria-selected': 'published', data: { toggle: 'tab' }

  .tab-content
    %div(class="tab-pane fade show active" id="drafts" role="tabpanel" aria-labelledby="drafts-tab")
      %ul(class="list-group list-group-flush")
        = render partial: 'blogs', collection: @drafts, as: :blog, locals: { scope: Blog.statuses[:draft] }
    %div(class="tab-pane fade" id="scheduled" role="tabpanel" aria-labelledby="scheduled-tab")
      %ul(class="list-group list-group-flush")
        = render partial: 'blogs', collection: @scheduled, as: :blog, locals: { scope: Blog.statuses[:scheduled] }
    %div(class="tab-pane fade" id="published" role="tabpanel" aria-labelledby="pusblished-tab")
      %ul(class="list-group list-group-flush")
        = render partial: 'blogs', collection: @published, as: :blog, locals: { scope: Blog.statuses[:published] }
