%div(class="modal fade-scale two-factor-auth-modal" data-controller="two-factor-auth" id="twoFactorAuthModal" tabindex="-1" role="dialog" aria-labelledby="2faModalTitle" aria-hidden="true")
  %div(class="modal-dialog modal-dialog-centered" role="document")
    .modal-content
      .modal-header
        %h5.modal-title
          Complete Two-Factor Authentication
        %button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
      .modal-body
        - if current_person.authy_registered?
          = form_tag verify_two_factor_auth_path, method: :post, data: { action: 'submit->two-factor-auth#submitForm' } do
            .form-group
              = text_field_tag :token, nil, class: 'form-control', placeholder: 'Token via SMS, Voice or Soft Token'
              %small(class="form-text d-none two-factor-auth-modal__errors text-danger")

            .row
              .col-3
                = link_to 'SMS', request_auth_token_two_factor_auth_path(via: :sms), method: :post, remote: true, data: { action: 'ajax:success->two-factor-auth#requestAuthToken' }, class: 'btn btn-info btn-block font-size-1'
              .col-3
                = link_to 'Voice', request_auth_token_two_factor_auth_path(via: :phone_call), method: :post, remote: true, data: { action: 'ajax:success->two-factor-auth#requestAuthToken' }, class: 'btn btn-info btn-block font-size-1'
              .col-3
                = link_to 'Push Auth', request_auth_token_two_factor_auth_path(via: :onetouch), method: :post, remote: true, data: { action: 'ajax:success->two-factor-auth#requestAuthToken click->two-factor-auth#pollApprovalStatus' }, class: 'btn btn-primary btn-block font-size-1'
              .col-3
                = submit_tag 'Verify', class: 'btn btn-success btn-block font-size-1'
        - else
          .rounded.bg-light.p-3
            %p.mb-0.text-center
              Oops! Looks like you have to Enable your Two-Factor Authentication from your
              = link_to 'settings', profile_path(current_person.username, tab: :enable_two_factor)
              = '.'

