%li.nav-item.dropdown
  %a(href="#" class="nav-link dropdown-toggle navbar__profile-dropdown p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    = current_person.gravatar_image_tag
  %div(class="dropdown-menu dropdown-menu-right animate slide-in")
    .navbar__profile-details.px-3
      .d-flex
        = current_person.gravatar_image_tag
        .pl-3
          %span.font-size-3
            = current_person.name
    .dropdown-divider
    = link_to 'Write a New Blog', new_people_blog_path, class: 'dropdown-item font-size-1'
    = link_to 'My Blog Posts', people_blogs_path, class: 'dropdown-item font-size-1'
    .dropdown-divider
    = link_to 'My Profile', profile_path(current_person.username), class: 'dropdown-item font-size-1'
    .dropdown-divider
    = link_to 'Sign Out', destroy_person_session_path, method: :delete, class: 'dropdown-item font-size-1'